/*相册*/
#album{
    height: 750px;
    width: 100%;
    margin: auto;
    clear: both;
    background-color: #ffff4a;
    padding: 0;
    position: relative;
    display: block;
}
#album h1{
    color: #000;
    margin-top: 55px;
}
#album .learnMore{
    clear: both;
    margin-top: 10px;
}

/*容器样式，指定定位方式、宽度和圆角*/
.photo_album {
    position:relative;          /*相当定位方式*/
    background-color:#ffff4a;   /*背景色*/
    width:100%;                 /*宽度*/    
    overflow:hidden;            /*溢出处理*/
    margin: auto;               /*居中显示设置*/
    clear: both;
}

/*相册显示样式*/
#gallery {
    background-color:#ffff4a;       /*背景颜色*/
    height: 100%;                   /*相册高度*/
    overflow:hidden;                /*溢出处理*/
    position:relative;              /*相当定位方式*/
    width:100%;                     /*相册宽度*/
    padding: 10px;
    padding-top: 10px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 45px 45px 0 0;
    clear: both;
}

/*分类按钮*/
#gallery ul#sets {
    display:table;
    list-style:none outside none;
    margin:30px auto;
    overflow:hidden;
    height: 55px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    display: none;
}
#gallery ul#sets li {
    float:left;
    width: 180px;
    border-radius: 25px;
    text-align: center;
}
#gallery ul#sets li a {
    cursor:pointer;
    display:block;
    font-weight:normal;
    height:50px;
    text-decoration:none;
    border-radius: 25px;
    background-color: #fff;
    color: #000;
    font-size: 1.2em;
    font-family: Arial;
    font-weight: bold;
    line-height: 3em;
    margin: 2px;
    font-family: "微软雅黑";
}
#gallery ul#sets li a:hover{
    box-shadow: 1px 1px 10px #2f2f2f;
}
#gallery #loading {
    text-align:center;
    display: none;
}
#sliderZone{
    width: 75%;
    height: 450px;
    margin: auto;
    border: 15px solid #000;
    border-radius: 10px;
    clear: both;
}
#slider {
    width: 100%;
    height:90%;
    margin: auto;  
}
#gallery ul#thumbs {
    width: 100%;
    margin: -10px auto;
    list-style:none;
    margin:0 auto;
    overflow:hidden;
    -moz-transition: bottom 0.5s ease-in-out;
    -ms-transition: bottom 0.5s ease-in-out;
    -o-transition: bottom 0.5s ease-in-out;
    -webkit-transition: bottom 0.5s ease-in-out;
    transition: bottom 0.5s ease-in-out;
    margin: auto;
    margin-top: 15px;
    background-color: #000;
    z-index: 999;
}
#gallery ul#thumbs:hover {
    opacity: 0.8;
}
#gallery ul#thumbs li {
    cursor:pointer;
    float:left;
    height:30px;
    width:58px;
    margin: auto;
}
#gallery ul#thumbs li img {
    width:auto;
}