<!DOCTYPE html>
<html>
<head>
	<title>王斌的小站</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="./assets/images/myLogo2.png">
	<link rel="stylesheet" type="text/css" href="./assets/css/index.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/projectDisplay.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/skillDisplay.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/gamesDisplay.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/toolsDisplay.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/processDisplay.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/footerAssets.css">
	
	<!-- bootstrap -->
	<script type="text/javascript" src="./assets/jquery/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="./assets/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./assets/bootstrap/css/bootstrap.min.css">
    
    <!-- grid stylesheet-->
    <link rel="stylesheet" type="text/css" href="./assets/grid/css/jquery.gridster.css">
  	<link rel="stylesheet" type="text/css" href="./assets/grid/css/grid.css">

  	<!-- album stylesheet-->
    <link href="./assets/album_assets/lib/slider.min.css" rel="stylesheet" type="text/css" /> 
    <link rel="stylesheet" type="text/css" href="./assets/album_assets/css/style.css" />	

  	<!-- jchart -->
  	<link rel="stylesheet" type="text/css" href="./assets/jChart/css/jchart.css">
  	<link rel="stylesheet" type="text/css" href="./assets/jChart/css/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="./assets/jChart/css/jquery.jqRangeSlider.css" />
    <link rel="stylesheet" type="text/css" href="./assets/jChart/themes/smoothness/jquery-ui-1.8.21.css" /> 

    <!-- tools -->
	<link rel="stylesheet" type="text/css" href="./assets/tools/tool1.css">

	<!-- leaveMessage -->
	<link rel="stylesheet" type="text/css" href="./assets/leaveMessage/leaveMessage.css">
</head>

<body onload="showTime()">
<!-- 导航栏 -->
<div id="navigator" class="navbar navbar-default navbar-fixed-top row col-lg-12 col-md-12 col-sm-12 col-xs-12" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".bs-js-navbar-scrollspy">
		  	<span class="sr-only">Toggle menu navigation</span>
		  	<span class="icon-bar"></span>
		  	<span class="icon-bar"></span>
		  	<span class="icon-bar"></span>
		</button>
		<a href="#" class="navbar-brand">菜单列表</a>
	</div>
	
	<div class="collapse navbar-collapse bs-js-navbar-scrollspy" id="nav">
		<ul class="nav navbar-nav" id="menu">
			<li id="mylogo" class="pull-right"><span><img src="./assets/images/myLogo2.png" class="img-responsive"></span></li>
			<li><a href="#projectDisplay">作品展示</a></li>
			<li><a href="#skillDisplay">掌握技能</a></li>
			<li><a href="#gamesDisplay">小游戏</a></li>
			<li><a href="#toolsDisplay">小工具</a></li>
			<li><a href="#processDisplay">学习进阶</a></li>
			<li><a href="#album">摄影作品</a></li>
			<li><a href="#footer">关于</a></li>
			
			<li class="dropdown" id="dropdown1">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">前端学习  <b class="caret"></b></span></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1" id="menu1">
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/html5.html">HTML5</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/CSS3.html">CSS3</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/JavaScript.html">JavaScript</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/jQuery/">jQuery</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/Bootstrap.html">Bootstrap</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">AngularJS</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">LESS</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">SASS</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">JSON</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">JSP</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">ASP.net</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">VUE.js</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">Color</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">PHP</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/font-awesome.html">Font-Awesome</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="./contains/FRONTEND/">ICONS</a></li>
					<li role="presentation"><a role="menuitem" tabindex="-1" href="">SVG</a></li>
				</ul>
			</li>

			<li class="dropdown" id="dropdown2">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">前端收集 <b class="caret"></b></a>
				<ul class="dropdown-menu" id="menu2">
					<li><a href="./contains/COLLECTIONS/maze/index.html">迷宫</a></li>
					<li><a href="./contains/COLLECTIONS/card-dealer/index.html">扑克牌</a></li>
					<li><a href="./contains/COLLECTIONS/dimple/index.html">分形</a></li>
					<li><a href="./contains/COLLECTIONS/emoji/index.html">emoji</a></li>
					<li><a href="./contains/COLLECTIONS/bootstrapCrystalButtons/index.html">水晶按钮</a></li>
					<li><a href="./contains/COLLECTIONS/css3MatchesLoading/index.html">火柴燃烧加载</a></li>
					<li><a href="./contains/COLLECTIONS/jqueryVerticalAccordionMenu/index.html">手风琴导航</a></li>
					<li><a href="./contains/COLLECTIONS/css3RibbonText/index.html">丝带效果</a></li>
					<li><a href="./contains/COLLECTIONS/css3Pokemon/index.html">神奇宝贝</a></li>
					<li><a href="./contains/COLLECTIONS/css3YinyangTaichi/index.html">阴阳太极</a></li>
					<li><a href="./contains/COLLECTIONS/jqueryCss3StampImage/index.html">照片墙</a></li>
					<li><a href="./contains/COLLECTIONS/css3ImageTextPlayer/index.html">图片轮播</a></li>
					<li><a href="./contains/COLLECTIONS/jqueryCircleImagePlayer/index.html">圆弧轮播</a></li>
					<li><a href="./contains/COLLECTIONS/jqueryAvatarCut/index.html">图片裁切</a></li>
					<li><a href="./contains/COLLECTIONS/waterFall/demo.html">瀑布流</a></li>
					<li><a href="./contains/COLLECTIONS/typeWriter/index.html">模拟打字机</a></li>
				</ul>
			</li>

			<!-- <li class="dropdown" id="dropdown3">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">小工具 <b class="caret"></b></a>
				<ul class="dropdown-menu" id="menu3">
					<li><a href="./contains/TOOLS/richEdit.html">富文本编辑器</a></li>
					<li><a href="./contains/TOOLS/wordCount.html">字数统计工具</a></li>
					<li><a href="./contains/TOOLS/COLOR/color.html">Web安全色</a></li>
				</ul>
			</li> -->

			<!-- <li class="dropdown" id="dropdown4">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">小游戏 <b class="caret"></b></a>
				<ul class="dropdown-menu" id="menu4">
					<li><a href="./contains/GAMES/TYPEWRITE/index.html">打字游戏</a></li>
					<li><a href="#">黑白棋</a></li>
					<li><a href="#">贪吃蛇</a></li>
				</ul>
			</li>
 -->
			<!-- <li class="dropdown" id="dropdown5">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">其他 <b class="caret"></b></a>
				<ul class="dropdown-menu" id="menu5">
					<li><a href="#">UI设计稿</a></li>
					<li><a href="#">摄影集</a></li>
					<li><a href="#">文章</a></li>
					<li><a href="./contains/OTHERS/project1/index.html">project1</a></li>
					<li><a href="./contains/myTemplates/1. Xpression/index.html">Xpression</a></li>
					<li><a href="./contains/myTemplates/2. ANTI/index.html">ANTI</a></li>
					<li><a href="./contains/myTemplates/3. PINK/index.html">PINK</a></li>

				</ul>
			</li> -->
			<!-- <li id="timezone" class="pull-right">
					<span id="clock"></span>
					<span id="week"></span>
					<span id="date"></span>
			</li> -->		
	</ul>
</div>
</div>


<!-- banner -->
<div id="banner" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 container">
	<div id="selfile">
		<img src="./assets/images/me1.jpg">
		<div id="tooltip">
			<span id="tooltipbar"></span>
			<p>中山大学 计算机系</p>
			<p>求职意向： 前端实习生</p>
			<p>详细信息请查看<span style="
				color: #fffc00;
				background-color: #000;
				border-radius: 5px; 
				padding: 3px;">简历</span></a>
			</p>
		</div>
	</div>
	<div id="forButton">
		<a href="./contains/RESUME/resume.html"><div id="button">查看简历</div></a>
	</div>
	<div id="scrollDown">
		<a href="#projectDisplay"><img src="./assets/images/scrollDown.gif" alt="scrollDown"></a>
	</div>
</div>


<!-- 浮动小人 -->
<div id="spig" class="spig">
    <div id="message">欢迎访问我的小站</div>
    <div id="mumu" class="mumu"></div>
</div>


<!-- 回顶部锚点 -->
<div id="toTop">
	<a href="" target="_top">
		<img src="./assets/images/toTop.png">
	</a>
</div>


<!-- 主体内容 -->
<div id="fullpage">
	<!-- 作品展示 -->
	<div id="projectDisplay" class="mainItem section">
		<h1 class="title">作品展示</h1>
		<div class="projectBox">

			<!-- box1 -->
			<div class="box">
				<a href="./contains/TRICELL/sourceCode/index.html">
					<div class="images">
						<img src="./assets/images/pro1.JPG">
					</div>
					<div class="imagesClose">
						<h5>TRICELL COMPORATION</h5>
						<p>TRICELL是一家生化危机中的虚拟公司的网站系统，提供员工注册，登录，留言，评论等功能<br>点击访问该站点</p>
					</div>
				</a>
				<div class="intro">
					<h4>TRICELL</h4>
				</div>
			</div>

			<!-- box2 -->
			<div class="box">
				<a href="./contains/EMAIL/index.html">
					<div class="images">
						<img src="./assets/images/pro2.JPG">
					</div>
					<div class="imagesClose">
						<h5>PROJECT TITLE</h5>
						<p>DETAIL INFORMATION<br>点击访问该站点</p>
					</div>
				</a>
				<div class="intro">
					<h4>ANTI</h4>
				</div>
			</div>

			<!-- box3 -->
			<div class="box">
				<a href="./contains/BLOG/index.html">
					<div class="images">
						<img src="./assets/images/pro3.JPG">
					</div>
					<div class="imagesClose">
						<h5>PROJECT TITLE</h5>
						<p>DETAIL INFORMATION<br>点击访问该站点</p>
					</div>
				</a>
				<div class="intro">
					<h4>XPRESSION</h4>
				</div>
			</div>

			<!-- box4 -->
			<div class="box">
				<a href="./contains/FLOW/index.html">
					<div class="images">
						<img src="./assets/images/pro4.JPG">
					</div>
					<div class="imagesClose">
						<h5>PROJECT TITLE</h5>
						<p>DETAIL INFORMATION<br>点击访问该站点</p>
					</div>
				</a>
				<div class="intro">
					<h4>FLOW</h4>
				</div>
			</div>
		</div>

		<div class="projectBox">
			<!-- box5 -->
			<div class="box">
				<a href="./contains/BALLPOOL/index.html">
					<div class="images">
						<img src="./assets/images/pro5.JPG">
					</div>
					<div class="imagesClose">
						<h5>PROJECT TITLE</h5>
						<p>DETAIL INFORMATION<br>点击访问该站点</p>
					</div>
				</a>
				<div class="intro">
					<h4>BALLPOOL</h4>
				</div>
			</div>
			<!-- box6 -->
			<div class="box">
				<a href="./contains/SYSU/sysu.html">
					<div class="images">
						<img src="./assets/images/pro6.JPG" alt="待续">
					</div>
					<div class="imagesClose">
						<h5>PROJECT TITLE</h5>
						<p>DETAIL INFORMATION<br>点击访问该站点</p>
					</div>
				</a>
				<div class="intro">
					<h4>SYSU</h4>
				</div>
			</div>
			<!-- box7 -->
			<div class="box">
				<a href="./contains/SYSU/sysu.html">
					<div class="images">
						<img src="./assets/images/pro7.JPG" alt="待续">
					</div>
					<div class="imagesClose">
						<h5>PROJECT TITLE</h5>
						<p>DETAIL INFORMATION<br>点击访问该站点</p>
					</div>
				</a>
				<div class="intro">
					<h4>RICH EDIT</h4>
				</div>
			</div>
			<!-- box8 -->
			<div class="box">
				<a href="./contains/SYSU/sysu.html">
					<div class="images">
						<img src="./assets/images/pro8.JPG" alt="待续">
					</div>
					<div class="imagesClose">
						<h5>PROJECT TITLE</h5>
						<p>DETAIL INFORMATION<br>点击访问该站点</p>
					</div>
				</a>
				<div class="intro">
					<h4>UBUTIA</h4>
				</div>
			</div>
		</div>

		<!-- probtn -->
		<div id="proBtn" class="learnMore">
			<button class="learnMoreBtn">了解更多</button>
		</div>
	</div>


	<!-- 掌握技能 -->
	<div id="skillDisplay" class="mainItem section">
		<h1 class="title">掌握技能</h1>
		<form id="skillMain" v-cloak>
		    <div class="bar">
		        <!-- 创建文本框和搜索字符串之间的绑定 -->
		        <input type="text" v-model="searchString" placeholder="请输入搜索关键字，如CSS" />
		    </div>
		    <ul>
		        <!-- 为每个搜索项目租用以个li标签 --> 
		        <li v-for="article in filteredArticles">
		            <a v-bind:href="article.url"><img v-bind:src="article.image" /></a>
		            <p>{{article.title}}</p>
		        </li>
		    </ul>

		</form>
	</div>


	<!-- 小游戏 -->
	<div id="gamesDisplay" class="mainItem section">
		<h1 class="title">小游戏</h1>
		<div id="gamesContainer">
			<div class="gamesItem">
				<img src="./assets/images/games1.gif">
				<h3>游戏名称</h3>
			</div>
			<div class="gamesItem">
				<img src="./assets/images/games2.gif">
				<h3>游戏名称</h3>
			</div>
			<div class="gamesItem">
				<img src="./assets/images/games3.gif">
				<h3>游戏名称</h3>
			</div>
			<div class="gamesItem">
				<img src="./assets/images/games4.gif">
				<h3>游戏名称</h3>
			</div>
		</div>
		<div id="gamesLearnMore" class="learnMore">
			<button class="learnMoreBtn">了解更多</button>
		</div>
	</div>


	<!-- 小工具 -->
	<div id="toolsDisplay" class="mainItem section">
		<h1 class="title">小工具</h1>
		<div id="toolContainer">
			<!-- 标签式导航栏 -->
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#tool_1" data-toggle="tab">小工具1</a>
				</li>
				<li>
					<a href="#tool_2" data-toggle="tab">小工具2</a>
				</li>
				<li class="dropdown">
					<a href="#tool_3" data-toggle="tab">小工具3</a>
				</li>
				<li>
					<a href="#tool_4" data-toggle="tab">小工具4</a>
				</li>
			</ul>

			<!-- 第一个小工具内容 -->
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="tool_1">
					<div class='page-top'>
						<div class="page-content">
						    <h2>任务计划表</h2>
						</div>
						<div class="main">
							<h3>添加任务:</h3>
							<input type="text" placeholder='提示：+回车即可添加任务' class='task-input' v-model='todo' @keyup.enter='addTodo' />
							<ul class="task-count">
							    <li>{{ nocheckedlength }}任务未完成</li>
							    <li class="action">
							        <a href="#all" :class='{active:visibility === "all"}'>所有任务</a>
							        <a href="#unfinished" :class='{active:visibility === "unfinished"}'>未完成的任务</a>
							        <a href="#finished" :class='{active:visibility === "finished"}'>已完成的任务</a>
							    </li>
							</ul>
							<h3 class='big-title'>任务列表:</h3>
							<div class="tasks">
							    <span class="no-task-tip" v-show='!list.length'>还没有添加任何任务</span>
							    <ul class='todo-list' >
							        <li class='todo' :class='{completed:item.isChecked , editing:item == editorTodos } ' v-for='item in filteredList' >
							            <div class="view">
							               	<input type="checkbox" class='toggle' v-model='item.isChecked'/>
							               	<label v-on:dblclick ='editorTodo(item)'>{{ item.title }}</label>
							               	<button class="destroy" @click='deleteTodo(item)'></button>
							            </div>
							           	<input type="text" class='edit' 
							            v-focus='editorTodos == item' 
							            v-model = 'item.title'
							            @blur = 'editorTodoed(item)'
							            @keyup.enter= 'editorTodoed(item)'
							            @keyup.esc= 'cancelTodo(item)'
							                  />
							        </li>
							    </ul>
							</div>
						</div>
					</div>
				</div>
				<!-- 第二个小工具内容 -->
				<div class="tab-pane fade" id="tool_2">
					<p>TO BE CONTINUED...</p>
				</div>
				<!-- 第三个小工具内容 -->
				<div class="tab-pane fade" id="tool_3">
					<p>TO BE CONTINUED...</p>
				</div>
				<!-- 第四个小工具内容 -->
				<div class="tab-pane fade" id="tool_4">
					<p>TO BE CONTINUED...</p>
				</div>
			</div>
		</div>

		<div class="learnMore">
			<button class="learnMoreBtn">体验更多</button>
		</div>
	</div>

	<!-- jChart 学习进阶 -->
	<div class="container mainItem" id="processDisplay">
		<h1 class="title">学习进阶</h1>
		<div id="chartZone">
		    <div id="jqChart" class="chartItem"></div>
		    <div class="chartItem">
		    	<img src="./assets/images/chart2.JPG">
		    </div>
		    <div class="chartItem">
		    	<img src="./assets/images/chart3.gif">
		    </div>
	    </div>
	    <div class="learnMore">
	    	<button class="learnMoreBtn">了解更多</button>
	    </div>
	</div>



	<!-- 相册 -->
	<div id="album" class="mainItem section">
	   	<h1 class="title">摄影作品</h1>
		<div class="photo_album">
	        <div id="gallery">
			    <div id="sliderZone">
				<div id="slider"></div>
				  <!--显示缩略图的部分-->				 
	            <ul id="thumbs"></ul>
	            </div>
	             <!--相册分类显示区域-->
	            <ul id="sets"></ul>
			      <!--Ajax加载状态的显示信息-->
	            <div id="loading"></div>
				  <!--用于轮播相册的容器DIV-->	
	        </div>

		</div>
	     <div class="learnMore">
			<button class="learnMoreBtn">了解更多</button>
		</div>	
	</div>

</div>



<!-- ###################################################################################### -->
<!-- 页脚 -->
<!-- ###################################################################################### -->

<div id="footer">
	
	<!-- 留言板 -->
	<div id="leaveMessage" class="mainItem section">
		<h1>留言板</h1>
		<div class="container">
			<form rol="form">
				<div class="form-group">
					<label for="username">
					</label>
						<input id="username" v-model="username" placeholder="输入用户名" class="form-control" type="text">

				</div>
				<div class="form-group">
					<label for="age">
					</label>
						<input id="age" v-model="age" placeholder="输入留言信息" class="form-control" type="text">

				</div>
				<div class="form-group">
					<input type="button" value="添加" class="btn btn-primary" v-on:click="add()">
					<input type="reset" value="重置" class="btn btn-danger">
				</div>
			</form>


			<table class="table  table-hover">
				<caption class="h5 text-info">留言信息</caption>
				<tr class="text-success">
					<th class="text-center">序号</th>
					<th class="text-center">名字</th>
					<th class="text-center">年龄</th>
					<th class="text-center">操作</th>
				</tr>
				<tr class="text-center" v-for="item in myData">
					<td>{{$index+1}}</td>
					<td>{{item.name}}</td>
					<td>{{item.age}}</td>
					<td><input class="btn btn-primary btn-sm" data-toggle="modal" data-target="#layer" type="button" value="删除" v-on:click="nowIndex=$index"></td>
				</tr>
				<tr class="text-right" v-show="myData.length != 0">
					<td colspan="4">
						<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#layer" v-on:click="nowIndex='-1'">删除全部</button>
					</td>
				</tr>
				<tr v-show="myData.length==0">
					<td colspan="4" class="text-center text-muted">
						<p>暂无数据...</p>
					</td>
				</tr>
			</table>

			<!-- 模态框 弹出框 -->
			<div role="dialog" class="modal fade" id="layer">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span>&times;</span>
							</button>
							<h4 class="modal-title">确认删除吗？</h4>
						</div>
						<div class="modal-body text-right">
							<button class="btn btn-primary btn-sm" data-dismiss="modal">取消</button>
							<button class="btn btn-danger btn-sm" data-dismiss="modal" v-on:click="deleteMsg(nowIndex)">确认</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	


	<!-- 链接图标 -->
	<div id="linkZone">
		<div class="linkItem">
		</div>
		<div class="linkItem" for="github">
			<a href="https://github.com/dragonir">
				<img src="./assets/images/github.png" alt="linkIcon">
			</a>
		</div>
		<div class="linkItem" for="codepen">
			<a href="">
				<img src="./assets/images/codepen.png" alt="linkIcon">
			</a>
		</div>
		<div class="linkItem" for="codeproject">
			<a href="">
				<img src="./assets/images/codeProject.png" alt="linkIcon">
			</a>
		</div>
		<div class="linkItem" for="dribbble">
			<a href="">
				<img src="./assets/images/dribbble.png" alt="linkIcon">
			</a>
		</div>
		<div class="linkItem" for="stackoverflow">
			<a href="">
				<img src="./assets/images/stackOverflow.png" alt="linkIcon">
			</a>
		</div>
		<div class="linkItem" for="cnblog">
			<a href="">
				<img src="./assets/images/cnblog.png" alt="linkIcon">
			</a>
		</div>
		<div class="linkItem" for="csdn">
			<a href="">
				<img src="./assets/images/csdn.png" alt="linkIcon">
			</a>
		</div>
		<div class="linkItem" for="segmentfault">
			<a href="">
				<img src="./assets/images/segmentFault.png" alt="linkIcon">
			</a>
		</div>
		<div class="linkItem"></div>
	</div>
	<!-- <hr> -->
	<div id="copyRightZone">
		<p><script type="text/javascript" src="./assets/js/visitCount.js"></script></p>
		<p>Powered By Wangbin &copy; 2017</p>
	</div>
</div>



<!-- ###################################################################################### -->
<!-- scripts -->
<!-- ###################################################################################### -->

<!-- index scripts-->
<script type="text/javascript" src="./assets/js/index.js"></script>

<!-- footer.php -->
<script type="text/javascript" src="./assets/js/spig.js"></script>
<script type="text/javascript">
	<?php 
		if(is_home()) echo 'var isindex=true;var title="";';
		else echo 'var isindex=false;var title="',  get_the_title(),'";'; 
	?>
	<?php 
		if((($display_name = wp_get_current_user()->display_name) != null)) echo 'var visitor="',$display_name,'";'; 
		else if(isset($_COOKIE['comment_author_'.COOKIEHASH])) echo 'var visitor="',$_COOKIE['comment_author_'.COOKIEHASH],'";';
		else echo 'var visitor="游客";';echo "n"; 
	?>
</script>

<!-- skillDisplay scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
<script type="text/javascript" src="./assets/js/skillDisplay.js"></script>

<!-- album js -->
<script type="text/javascript" src="./assets/album_assets/js/jquery.js"></script>
<script type="text/javascript" src="./assets/album_assets/lib/slider.js"></script>
<script type="text/javascript" src="./assets/album_assets/js/main.js"></script>

<!-- jchart -->
<script src="./assets/jChart/js/jquery.jqChart.min.js" type="text/javascript"></script>
<script src="./assets/jChart/js/jquery.jqRangeSlider.min.js" type="text/javascript"></script>
<script type="text/javascript" src="./assets/jChart/js/jchart.js"></script>
<!--[if IE]><script lang="javascript" type="text/javascript" src="js/excanvas.js"></script><![endif]-->

 <!-- tools scripts-->
 <!-- tool1 -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
<script src="./assets/tools/tool1.js"></script>

<!-- leaveMessage scripts-->
<script type="text/javascript" src="./assets/leaveMessage/vue.js"></script>
<script type="text/javascript" src="./assets/leaveMessage/leaveMessage.js"></script>


</body>
</html>
