body{
	padding: 0;
	margin: 0;
}

/*导航栏样式*/
header{
	border: 1px solid red;
	width: 100%;
	height: 150px;
}
#navigator{
	border: 1px solid yellow;
	width: 85%;
	height: 100%;
	margin: auto;
}
#logo{
	height: 100px;
	width: 100px;
	float: left;
}
#logo img{
	height: 100%;
	width: 100%;
}

/*导航按钮样式*/
#navigator ul{
	border: 1px solid purple;
	// clear: both;
	float: right;
	margin-top: 50px;
}
#navigator ul li{
	list-style: none;
	float: left;
	padding-right: 50px;
}
#navigator ul li a{
	text-decoration: none;
}

/*主体内容样式*/
#main{
	border: 1px solid green;
	width: 100%;
	position: relative;
}
#banner{
	border: 1px solid gray;
	width: 100%;
	height: 500px;
}
#timeZone{
	border: 3px solid #82b541;
	height: 180px;
	width: 60%;
	margin: auto;
	margin-top: 30px;
	border-radius: 20px;
}


/*登录区*/
#signZone{
	border: 1px solid #f5f5f5;
	height: 500px;
	width: 380px;
	position: absolute;
	right: 7.5%;
	top: 300px;
	padding: 20px;
	background-color: #fff;
	z-index: 333;
	box-shadow: 0px 1px 3px #2f2f2f;
}
#signZone p{
	font-size: 2em;
	font-weight: bold;
	font-family: Arial;
	text-align: center;
}
#signZone input{
	height: 45px;
	width: 85%;
	margin: auto;
	margin: 10px 25px 10px 25px;
	border: 1px solid #bebebe;
	border-radius: 5px;
	font-size: 1.2em;
	color: #858585;
	padding: 5px;
	outline: none;
}
#signZone input:focus{
	// border: none;
	outline: 1px solid #90D23D;
}
#signZone input[type="button"]{
	height: 55px;
	width: 88%;
	background-color: #90D23d;
	color: #fff;
	border: 1px solid #90D23D;
	padding: 2px;
}
#signZone input[type="button"]:hover{
	background-color: #fff;
	color: #90D23D;
	cursor: pointer;
}

/*页脚样式*/
footer{
	border: 1px solid blue;
	width: 100%;
}