#gamesDisplay{
	clear: both;
	width: 100%;
	margin: auto;
}
#gamesContainer{
	height: 350px;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
#gamesDisplay h1{
}
#gamesContainer .gamesItem{
	width: 25%;
	height: 100%;
}

#gamesContainer .gamesItem img{
	width: 100%;
	height: 75%;
	cursor: pointer;
}
#gamesContainer .gamesItem img:hover{
	border: 5px solid #fffc00;
}

#gamesContainer .gamesItem h3{
	text-align: center;
	color: #000;
}